# Django
SECRET_KEY=django-insecure-troque-esta-chave-em-producao
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1

# PostgreSQL
POSTGRES_DB=barberzen
POSTGRES_USER=barberzen
POSTGRES_PASSWORD=barberzen123
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
